body {
    background-color: #2B4F81;
}
.main {
    text-align: center;
}
.box {
    width: 200px;
    height: 200px;  
    border-radius: 20px; 
    border: solid #28078B 5px;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    background-color: #2B4F81;
    box-shadow: 10px 10px 5px #003F87
}
.box.revealed {
    border: solid #2B4F81 5px;
    box-shadow: 10px 10px 5px #2B4F81;
}
.box img {
    transform: none;
    opacity: 0;
    transition: transform 0.4s, opacity 0.4s;
}
.box.active img {
    transform: rotate(360deg);
    opacity: 1;
}
@keyframes mydematerialiseanimation {
    0% { opacity: 1; }
    8.3% { opacity: 0.5; }
    16.6% { opacity: 1; }
    24.9% { opacity: 0.4; }
    33.3% { opacity: 0.8; }
    41.6% { opacity: 0.3; }
    49.9% { opacity: 0.6; }
    58.2% { opacity: 0.2; }
    66.6% { opacity: 0.4; }
    74.9% { opacity: 0.1; }
    83.3% { opacity: 0.2; }
    91.6% { opacity: 0.1; }
    100% { opacity: 0; }
}
@-webkit-keyframes mydematerialiseanimation {
    0% { opacity: 1; }
    8.3% { opacity: 0.5; }
    16.6% { opacity: 1; }
    24.9% { opacity: 0.4; }
    33.3% { opacity: 0.8; }
    41.6% { opacity: 0.3; }
    49.9% { opacity: 0.6; }
    58.2% { opacity: 0.2; }
    66.6% { opacity: 0.4; }
    74.9% { opacity: 0.1; }
    83.3% { opacity: 0.2; }
    91.6% { opacity: 0.1; }
    100% { opacity: 0; }
}
.main.complete {
    animation: mydematerialiseanimation 8s;
    -webkit-animation: mydematerialiseanimation 8s;
    opacity: 0;
}
input {
    font-size: 300%;
    color: #2B4F81;
    background-color: green;
}
