body {
    background-image: url('images/backgrounds/TV.jpg');
}
.main {
    position: absolute;
    top: 300px;
}
.align {
    position: absolute;
    top: 20px;
    margin-left: 750px;
}
.Howtoplay {
    position: absolute;
    top: 100px;
    margin-left: 625px;
    font-size: 400%;
    color: #969aab;
}
.instructions {
    position: absolute;
    top: 200px;
    font-size: 280%;
    color: #969aab;
}
.main.daleks {
    text-align: center;
    background-image: url("images/backgrounds/ds.jpg");
}
.main.doctors {
    text-align: center;
    background-image: url("images/backgrounds/ti.png");
}
.main.masters {
    text-align: center;
    background-image: url("images/backgrounds/mti.jpg");
}
.main.companions1 {
    text-align: center;
    background-image: url("images/backgrounds/1te.jpg");
    transform: none;
    transition: transform 6s;
}
.main.companions2 {
    text-align: center;
    background-image: url("images/backgrounds/3te.jpg");
    transform: none;
    transition: transform 1s;
}
.main.companions3 {
    text-align: center;
    background-image: url("images/backgrounds/5te.jpg");
    transform: none;
    transition: transform 3s;
}
.main.companions4 {
    text-align: center;
    background-image: url("images/backgrounds/9te.jpg");
    transform: none;
    transition: transform 4s;
}
.main.companions5 {
    text-align: center;
    background-image: url("images/backgrounds/11te.jpg");
    transform: none;
    transition: transform 2s;
}
.companions1 .box {
    width: 200px;
    height: 200px;  
    border-radius: 20px; 
    border: solid blue 5px;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    box-shadow: 10px 10px 5px green;
}
.companions2 .box {
    width: 200px;
    height: 200px;  
    border-radius: 20px; 
    border: solid blue 5px;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    box-shadow: 10px 10px 5px green;
}
.companions3 .box {
    width: 200px;
    height: 200px;  
    border-radius: 20px; 
    border: solid blue 5px;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    box-shadow: 10px 10px 5px green;
}
.companions4 .box {
    width: 200px;
    height: 200px;  
    border-radius: 20px; 
    border: solid blue 5px;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    box-shadow: 10px 10px 5px green;
}
.companions5 .box {
    width: 200px;
    height: 200px;  
    border-radius: 20px; 
    border: solid blue 5px;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    box-shadow: 10px 10px 5px green;
}
.daleks .box {
    width: 200px;
    height: 200px;  
    border-radius: 20px; 
    border: solid #4c4000 5px;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    box-shadow: 10px 10px 5px #7f6b00;
}
.doctors .box {
    width: 200px;
    height: 200px;  
    border-radius: 20px; 
    border: solid #2b4f81 5px;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    box-shadow: 10px 10px 5px #28078b;
}
.masters .box {
    width: 200px;
    height: 200px;  
    border-radius: 20px; 
    border: solid #000000 5px;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    box-shadow: 10px 10px 5px red;
}.box img {
    transform: none;
    opacity: 0;
    transition: transform 0.4s, opacity 0.4s;
}
.box.active img {
    transform: rotate(360deg);
    opacity: 1;
}
@keyframes mydematerialiseanimation {
    0% { opacity: 1; }
    8.3% { opacity: 0.5; }
    16.6% { opacity: 1; }
    24.9% { opacity: 0.4; }
    33.3% { opacity: 0.8; }
    41.6% { opacity: 0.3; }
    49.9% { opacity: 0.6; }
    58.2% { opacity: 0.2; }
    66.6% { opacity: 0.4; }
    74.9% { opacity: 0.1; }
    83.3% { opacity: 0.2; }
    91.6% { opacity: 0.1; }
    100% { opacity: 0; }
}
@-webkit-keyframes mydematerialiseanimation {
    0% { opacity: 1; }
    8.3% { opacity: 0.5; }
    16.6% { opacity: 1; }
    24.9% { opacity: 0.4; }
    33.3% { opacity: 0.8; }
    41.6% { opacity: 0.3; }
    49.9% { opacity: 0.6; }
    58.2% { opacity: 0.2; }
    66.6% { opacity: 0.4; }
    74.9% { opacity: 0.1; }
    83.3% { opacity: 0.2; }
    91.6% { opacity: 0.1; }
    100% { opacity: 0; }
}
.main.doctors.complete {
    animation: mydematerialiseanimation 8s;
    -webkit-animation: mydematerialiseanimation 8s;
    opacity: 0;
}
.main.masters.complete {
    animation: mydematerialiseanimation 14s;
    -webkit-animation: mydematerialiseanimation 14s;
    opacity: 0;
}
.main.companions1.complete {
    transform: scale(1,0);
}
.main.companions2.complete {
    transform: scale(0,1);
}
.main.companions3.complete {
    transform: scale(1,0);
}
.main.companions4.complete {
    transform: scale(0,1);
}
.main.companions5.complete {
    transform: scale(0,0);
}
@keyframes myshiveranimation {
    0% { transform: none; opacity: 1; }
    25% { transform: none; opacity: 1; }
    50% { transform: none; opacity: 1; }
    75% { transform: none; opacity: 1; }
    80% { transform: none; opacity: 1; }
    85% { transform: translate(20px,0px); opacity: 0.75; }
    90% { transform: none; opacity: 0.5; }
    95% { transform: translate(-20px,0px); opacity: 0.25; }
    100% { transform: none; opacity: 0; }
}
@-webkit-keyframes myshiveranimation {
    0% { transform: none; opacity: 1; }
    25% { transform: none; opacity: 1; }
    50% { transform: none; opacity: 1; }
    75% { transform: none; opacity: 1; }
    80% { transform: none; opacity: 1; }
    85% { transform: translate(20px,0px); opacity: 0.75; }
    90% { transform: none; opacity: 0.5; }
    95% { transform: translate(-20px,0px); opacity: 0.25; }
    100% { transform: none; opacity: 0; }
}
.main.daleks.complete {
    animation: myshiveranimation 1.5s;
    -webkit-animation: myshiveranimation 1.5s;
    opacity: 0;
}
input { 
    font-size: 300%;
    color: #2B4F81;
    background-color: Black;
    text-align: center;
}
@keyframes myspinanimation {
    0% { transform: none; opacity: 1; }
    100% { transform: rotate(1440deg) scale(0,0); opacity: 0; }
}
@-webkit-keyframes myspinanimation {
    0% { transform: none; opacity: 1; }
    100% { transform: rotate(1440deg) scale(0,0); opacity: 0; }
}
body.finished {
    animation: myspinanimation 17s linear;
    -webkit-animation: myspinanimation 17s linear;
    opacity: 0;
}
