body {
    background-image: url('images/backgrounds/TV.jpg');
}
.main {
    position: absolute;
    top: 262px;
}
.align {
    position: absolute;
    top: 20px;
    margin-left: 865px;
}
@keyframes mymaterialiseanimation {
    0% { opacity: 0; }
    20% { opacity: 0.5; }
    40% { opacity: 0.25; }
    60% { opacity: 0.75; }
    80% { opacity: 0.5 }
    100% { opacity: 1; }
}
@-webkit-keyframes mymaterialiseanimation {
     0% { opacity: 0; }
    20% { opacity: 0.5; }
    40% { opacity: 0.25; }
    60% { opacity: 0.75; }
    80% { opacity: 0.5 }
    100% { opacity: 1; }
}
.main.daleks {
    animation: mymaterialiseanimation 9s;
    -webkit-animation: mymaterialiseanimation 9s;
    text-align: center;
    background-image: url("images/backgrounds/DA.jpg");
}
.main.doctors {
    animation: mymaterialiseanimation 9s;
    -webkit-animation: mymaterialiseanimation 9s;
    text-align: center;
    background-image: url("images/backgrounds/e.jpg");
}
.main.masters {
    animation: mymaterialiseanimation 9s;
    -webkit-animation: mymaterialiseanimation 9s;
    text-align: center;
    background-image: url("images/backgrounds/IG.jpg");
}
.main.companions1 {
    animation: mymaterialiseanimation 9s;
    -webkit-animation: mymaterialiseanimation 9s;
    text-align: center;
    background-image: url("images/backgrounds/TL.jpg"); 
}
.main.companions2 {
    animation: mymaterialiseanimation 9s;
    -webkit-animation: mymaterialiseanimation 9s;
    text-align: center;
    background-image: url("images/backgrounds/UN.jpg");
}
.main.companions3 {
    animation: mymaterialiseanimation 9s;
    -webkit-animation: mymaterialiseanimation 9s;
    text-align: center;
    background-image: url("images/backgrounds/HA.jpg");
}
.main.companions4 {
    animation: mymaterialiseanimation 9s;
    -webkit-animation: mymaterialiseanimation 9s;
    text-align: center;
    background-image: url("images/backgrounds/PE.jpg");}

.main.companions5 {
    animation: mymaterialiseanimation 9s;
    -webkit-animation: mymaterialiseanimation 9s;
    text-align: center;
    background-image: url("images/backgrounds/AH.jpg");
}
.companions1 .box {
    width: 200px;
    height: 200px;  
    border-radius: 20px; 
    border: solid blue 5px;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    box-shadow: 10px 10px 5px green;
}
.companions2 .box {
    width: 200px;
    height: 200px;  
    border-radius: 20px; 
    border: solid blue 5px;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    box-shadow: 10px 10px 5px green;
}
.companions3 .box {
    width: 200px;
    height: 200px;  
    border-radius: 20px; 
    border: solid blue 5px;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    box-shadow: 10px 10px 5px green;
}
.companions4 .box {
    width: 200px;
    height: 200px;  
    border-radius: 20px; 
    border: solid blue 5px;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    box-shadow: 10px 10px 5px green;
}
.companions5 .box {
    width: 200px;
    height: 200px;  
    border-radius: 20px; 
    border: solid blue 5px;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    box-shadow: 10px 10px 5px green;
}
.daleks .box {
    width: 200px;
    height: 200px;  
    border-radius: 20px; 
    border: solid #4c4000 5px;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    box-shadow: 10px 10px 5px #7f6b00;
}
.doctors .box {
    width: 200px;
    height: 200px;  
    border-radius: 20px; 
    border: solid #2b4f81 5px;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    box-shadow: 10px 10px 5px #28078b;
}
.masters .box {
    width: 200px;
    height: 200px;  
    border-radius: 20px; 
    border: solid #000000 5px;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    box-shadow: 10px 10px 5px red;
}
.box img {
    transform: none;
    opacity: 0;
    transition: transform 0.4s, opacity 0.4s;
}
.box.active img {
    transform: rotate(360deg);
    opacity: 1;
}
@keyframes mydematerialiseanimation {
    0% { opacity: 1; }
    20% { opacity: 0.5; }
    40% { opacity: 0.75; }
    60% { opacity: 0.25; }
    80% { opacity: 0.5 }
    100% { opacity: 0; }
}
@-webkit-keyframes mydematerialiseanimation {
    0% { opacity: 1; }
    20% { opacity: 0.5; }
    40% { opacity: 0.75; }
    60% { opacity: 0.25; }
    80% { opacity: 0.5 }
    100% { opacity: 0; }
}
.main.doctors.complete {
    animation: mydematerialiseanimation 8s;
    -webkit-animation: mydematerialiseanimation 8s;
    opacity: 0;
}
.main.masters.complete {
    animation: mydematerialiseanimation 8s;
    -webkit-animation: mydematerialiseanimation 8s;
    opacity: 0;
}
.main.companions1.complete {
    animation: mydematerialiseanimation 8s;
    -webkit-animation: mydematerialiseanimation 8s;
    opacity: 0;
}
.main.companions2.complete {
    animation: mydematerialiseanimation 8s;
    -webkit-animation: mydematerialiseanimation 8s;
    opacity: 0;
}
.main.companions3.complete {
    animation: mydematerialiseanimation 8s;
    -webkit-animation: mydematerialiseanimation 8s;
    opacity: 0;
}
.main.companions4.complete {
    animation: mydematerialiseanimation 8s;
    -webkit-animation: mydematerialiseanimation 8s;
    opacity: 0;
}
.main.companions5.complete {
    animation: mydematerialiseanimation 8s;
    -webkit-animation: mydematerialiseanimation 8s;
    opacity: 0;
}
.main.daleks.complete {
    animation: mydematerialiseanimation 8s;
    -webkit-animation: mydematerialiseanimation 8s;
    opacity: 0;
}
input { 
    font-size: 300%;
    color: #2B4F81;
    background-image: url('images/Tardis.jpg');
    width: 127px;
    height: 219px;
}
@keyframes myspinanimation {
    0% { transform: none; opacity: 1; background-image: url('images/backgrounds/TV.jpg'); }
    100% { transform: rotate(2880deg) scale(0,0); opacity: 0; background-image: url('images/backgrounds/GA.jpg'); }
}
@-webkit-keyframes myspinanimation {
    0% { transform: none; opacity: 1; background-image: url('images/backgrounds/TV.jpg'); }
    100% { transform: rotate(2880deg) scale(0,0); opacity: 0; background-image: url('images/backgrounds/GA.jpg'); }
}
body.finished {
    animation: myspinanimation 17s linear;
    -webkit-animation: myspinanimation 17s linear;
    opacity: 0;
    background-image: url('images/backgrounds/GA.jpg');
}
